@charset "utf-8";
/* CSS Document */

body {
	font-family: 'Noto Sans JP', "游ゴシック", "Yu Gothic", YuGothic, 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', Meiryo, 'メイリオ', Osaka, 'MS PGothic', arial, helvetica, sans-serif;
    /*font-family: Avenir, "Helvetica Neue", Helvetica, Arial, Verdana, "Noto Sans Japanese", 游ゴシック, "Yu Gothic", 游ゴシック体, YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Meiryo UI", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;*/
    /*font-family: 游ゴシック, YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, sans-serif;*/
    /*font-family: "Noto Serif Japanese", "游明朝", "Yu Mincho", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", メイリオ, Meiryo, serif;*/
    font-weight: normal;    
    padding: 0px;
	margin: 0px;
    font-size: 16px;
}
* {
	padding: 0px;
	margin: 0px;
	-webkit-text-size-adjust: 100%;
}
img {
	border:none;
	width:100%;
	vertical-align: bottom;
}
a {
    text-decoration: none;
}
ul, ol {
    list-style: none;
}
article {
    margin: 15px 0;
    padding: 0;    
}
section {
	width: 96%;
	max-width: 750px;
	margin: 0 auto 15px auto;
	overflow: hidden;
	position: relative;
}
section:last-of-type {
	margin-bottom: 0;
}

.visible, .invisible {
	opacity: 0.0;
	transition: opacity 0.5s ease;
}
.visible {
	opacity: 1.0;
}

.visible.translateY,.invisible.translateY {
	transform: translateY(100px);
	transition: all 0.7s cubic-bezier(0.165, 0.840, 0.440, 1.000);
}
.visible.translateY02,.invisible.translateY02 {
	transform: translateY(-100px);
	transition: all 1.3s cubic-bezier(0.165, 0.840, 0.440, 1.000);
}
.visible.translateY,
.visible.translateY02 {
	transform: translateY(0);
}
.visible.translateToLeft,.invisible.translateToLeft {
	transform: translateX(100px);
	transition: all 1.1s cubic-bezier(0.165, 0.840, 0.440, 1.000);
}
.visible.translateToLeft {
	transform: translateX(0);
}
.visible.translateToRight,.invisible.translateToRight {
	transform: translateX(-100px);
	transition: all 0.7s cubic-bezier(0.165, 0.840, 0.440, 1.000);
}
.visible.translateToRight02,.invisible.translateToRight02 {
	transform: translateX(-100px);
	transition: all 1.8s cubic-bezier(0.165, 0.840, 0.440, 1.000);
}
.visible.translateToRight,
.visible.translateToRight02 {
	transform: translateX(0);
}
.visible.translateScaleUp,.invisible.translateScaleUp {
	transform: scale(.5);
	transition: all 0.7s cubic-bezier(0.165, 0.840, 0.440, 1.000);
}
.visible.translateScaleUp {
	transform: scale(1);
}
.visible.translateScaleDown,.invisible.translateScaleDown {
	transform: scale(1.4);
	transition: all 0.9s cubic-bezier(0.165, 0.840, 0.440, 1.000);
}
.visible.translateScaleDown {
	transform: scale(1);
}
.visible.translateRotate,.invisible.translateRotate {
	transform: rotate(360deg);
	transition: all 0.7s cubic-bezier(0.165, 0.840, 0.440, 1.000);
}
.visible.translateRotate {
	transform: rotate(0deg);
}




.buruburu {
    -webkit-animation:buruburu 0.1s infinite linear alternate;
	animation:buruburu 0.1s infinite linear alternate;
	position: absolute;
	top: 15px;
	right: 1%;
	width: 92%;
}

@-webkit-keyframes buruburu {
    0% {-webkit-transform:translate(0, 0) rotate(-3deg);}
    50% {-webkit-transform:translate(0, -1px) rotate(0deg);}
    100% {-webkit-transform:translate(0, 0)rotate(3deg);}
}

@keyframes buruburu {
    0% {transform:translate(0, 0) rotate(-3deg);}
    50% {transform:translate(0, -1px) rotate(0deg);}
    100% {transform:translate(0, 0)rotate(3deg);}
}

.ball{
    animation: ball 0.6s alternate infinite;
    -webkit-animation: ball 0.6s alternate infinite;
	-moz-animation: ball 0.6s alternate infinite;
	position: absolute;
	bottom: 0px;
	left: 0%;
	width: 100%;
}
@keyframes ball{
    0%   { transform:translate(0%, 0%) rotateX(25deg); }
    100% { transform:translate(0%, -60px); }
}
@-webkit-keyframes ball{
    0%   { -webkit-transform:translate(0%, 0%) rotateX(25deg); }
    100% { -webkit-transform:translate(0%, -60px); }
}

@-moz-keyframes ball{
    0%   { -moz-transform:translate(0%, 0%) rotateX(25deg); }
    100% { -moz-transform:translate(0%, -60px); }
}

.ball02 {
    animation: ball 0.2s alternate infinite;
    -webkit-animation: ball 0.2s alternate infinite;
	-moz-animation: ball 0.2s alternate infinite;
	position: absolute;
	top: 0%;
	right: 0%;
	width: 100%;
}

.ball03 {
    animation: ball 0.4s alternate infinite;
    -webkit-animation: ball 0.4s alternate infinite;
	-moz-animation: ball 0.4s alternate infinite;
	position: absolute;
	bottom: 0%;
	left: 0%;
	width: 100%;
}

@keyframes ball{
    0%   { transform:translate(0%, 0%) rotateX(0deg); }
    100% { transform:translate(0%, -30px); }
}
@-webkit-keyframes ball{
    0%   { -webkit-transform:translate(0%, 0%) rotateX(0deg); }
    100% { -webkit-transform:translate(0%, -30px); }
}

@-moz-keyframes ball{
    0%   { -moz-transform:translate(0%, 0%) rotateX(0deg); }
    100% { -moz-transform:translate(0%, -30px); }
}

@keyframes ball{
    0%   { transform:translate(0%, 0%) rotateX(0deg); }
    100% { transform:translate(0%, -45px); }
}
@-webkit-keyframes ball{
    0%   { -webkit-transform:translate(0%, 0%) rotateX(0deg); }
    100% { -webkit-transform:translate(0%, -45px); }
}

@-moz-keyframes ball{
    0%   { -moz-transform:translate(0%, 0%) rotateX(0deg); }
    100% { -moz-transform:translate(0%, -45px); }
}
.ball04 {
    animation: ball 0.1s alternate infinite;
    -webkit-animation: ball 0.1s alternate infinite;
	-moz-animation: ball 0.1s alternate infinite;
	position: absolute;
	bottom: 0%;
	left: 0%;
	width: 70%;
}
@keyframes ball{
    0%   { transform:translate(0%, 0%) rotateX(0deg); }
    100% { transform:translate(0%, -60px); }
}
@-webkit-keyframes ball{
    0%   { -webkit-transform:translate(0%, 0%) rotateX(0deg); }
    100% { -webkit-transform:translate(0%, -60px); }
}

@-moz-keyframes ball{
    0%   { -moz-transform:translate(0%, 0%) rotateX(0deg); }
    100% { -moz-transform:translate(0%, -60px); }
}
.ball05 {
    animation: ball 0.6s alternate infinite;
    -webkit-animation: ball 0.6s alternate infinite;
	-moz-animation: ball 0.6s alternate infinite;
	position: absolute;
	bottom: 10%;
	left: 1.5%;
	width: 98%;
}
@keyframes ball{
    0%   { transform:translate(0%, 0%) rotateX(0deg); }
    100% { transform:translate(0%, -60px); }
}
@-webkit-keyframes ball{
    0%   { -webkit-transform:translate(0%, 0%) rotateX(0deg); }
    100% { -webkit-transform:translate(0%, -60px); }
}

@-moz-keyframes ball{
    0%   { -moz-transform:translate(0%, 0%) rotateX(0deg); }
    100% { -moz-transform:translate(0%, -60px); }
}

.parts01 {
	position: absolute;
	top: 0%;
	right: 0%;
	width: 100%;
}
.parts02 {
	position: absolute;
	top: 0%;
	right: 0%;
	width: 100%;
}
.parts03 {
	position: absolute;
	top: 0%;
	right: 0%;
	width: 100%;
}
.parts04 {
	position: absolute;
	top: 0%;
	right: 0%;
	width: 100%;
}
.parts05 {
    position: absolute;
	top: 0%;
	right: 0%;
	width: 100%;
}
.parts06 {
	position: absolute;
	top: 0%;
	right: 0%;
	width: 100%;
}
.parts07 {
	position: absolute;
	top: 0%;
	right: 0%;
	width: 100%;
}
.parts08 {
	position: absolute;
	top: 0%;
	right: 0%;
	width: 100%;
}
.parts09 {
	position: absolute;
	top: 0%;
	right: 0%;
	width: 100%;
}
.parts10 {
	position: absolute;
	top: 0%;
	right: 0%;
	width: 100%;
}
.parts11 {
	position: absolute;
	top: 0%;
	right: 0%;
	width: 100%;
}
.parts12 {
	position: absolute;
	top: 0%;
	right: 0%;
	width: 100%;
}
.parts13 {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
}
.parts14 {
	position: absolute;
	top: 0%;
	right: 0%;
	width: 100%;
}
.parts15 {
	position: absolute;
	top: 0%;
	right: 0%;
	width: 100%;
}
.parts16 {
    position: absolute;
	top: 600px;
	right: 0%;
	width: 100%;
}
.parts17 {
	position: absolute;
	top: 0%;
	right: 0%;
	width: 100%;
}
.parts18 {
    position: absolute;
	top: 0%;
	right: 0%;
	width: 100%;
}
.parts19 {
    position: absolute;
	top: 0%;
	right: 0%;
	width: 100%;
}
.parts20 {
	position: absolute;
    bottom: 0%;
    left: 0%;
    width: 100%;
}
